.page-header{
    width:100%;
    height:100vh;
    background-color:#141c41;
    background-image: url("https://cdn.discordapp.com/attachments/490220076163792896/607798522699317248/bk.png");
    background-size: 100% 100%;
    display:flex;
    justify-content: center;
    overflow: hidden;

}

.page-header-profile{
    position:absolute;
    padding: 0.4em;
    top:25vh;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.2;
    letter-spacing: 0.03em;
    font-family: 'Raleway', 'Lato', sans-serif;
    font-weight: 400;
    text-align:center;
    font-size:40px;
    color:white;
    margin:auto;
    
    animation-duration: 3s;
    animation-iteration-count: 1;
    
    display:flex;
    flex-direction:column;
    justify-content:center;

    .page-header-name{
        h1,h2,h3,h4{
            margin:0em;
            text-shadow: 0 0 3px #ffffff;
            transition: all 0.3s ease-in-out;
        }
    }   

    @media only screen and (max-width: 500px) {

        top:20vh;
        //font-size:29px;  
        .page-header-name{
            font-size:29px;  
            h1,h2,h3,h4{
                text-shadow: 0 0 2px #ffffff;
            }
        }

        .page-header-title{
            font-size:18px; 
            margin-bottom:0vh; 

        }

        .page-header-button-enter{
            margin-top:2vh;
        }

        .page-header-icons{

            width:80%;

        }

    }
    
    
}


.page-header-profile:hover{
    h1,h2,h3,h4{
        text-shadow: 0 0 4px #ffffff;
        transition: all 0.3s ease-in-out;
    }
    .page-header-dash{
        //box-shadow: 0 0 4px #ffffff;
        transition: all 0.3s ease-in-out;
    }
}


.page-header2{
    width:100%;
    height:100vh;
    background-color:white;
    
}

.page-header-particles{
    width:100%;
    height:100vh; 
}

.page-header-name{
    display: inline-block;
}


.page-header-dash{
    display: inline-block;
    
    width:1em;
    height:0.075em;
    background-color:white;
    margin:auto;
    margin-top:5vh;

    border-style:solid;
    border-color:white;
    border-radius:2em;
    box-shadow: 0 0 2px #ffffff;
    margin-bottom:3vh;
}

.page-header-title{
    margin:0.1em;
    padding:1em;
    font-size:19px;
    text-shadow: 0 0 2px #ffffff;
    
}

.page-header-button-enter{
    display: inline-block;
    border-radius: 6px;
    background-color: #1e7bf4;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 180px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    margin-top:50px;
    scroll-behavior: smooth;
    
}

.page-header-button-enter:hover{
    box-shadow: 0 0 10px #1e7bf4;
}

.page-header-icons{
    
    margin:auto;
    margin-top:2.2vh;
    width:60%;
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
}

.page-header-icon{
    opacity:0.7;
    transition: all 0.3s ease-in-out;
}

.page-header-icon:hover{
    opacity:1;
    transition: all 0.3s ease-in-out;
    
}



