.page-timeline{
    min-height:100vh;
    max-height:fit-content;
    background-color:#0a0a0a;
    //color:white;
}

.yellow-back{
    text-shadow: 0.07em 0.07em 0.15em rgb(0, 0, 0);
}
.svg-inline--fa.fa-w-18{
    width:1.5em !important
}